html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

#tutorial {
  align-items: center;
  text-align: center;
  padding: 2rem;
}

#video-tutorial {
  height: 85vh;
}